<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="gdb">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://alfred.diamond.ac.uk/p2/orbit/R201907050856/repository/"/>
			<unit id="org.apache.commons.collections4" version="0.0.0"/>
			<unit id="org.apache.commons.beanutils" version="0.0.0"/>
			<unit id="org.apache.commons.math" version="0.0.0"/>
			<unit id="org.apache.commons.jexl" version="0.0.0"/>
			<unit id="org.apache.commons.vfs" version="0.0.0"/>
			<unit id="org.apache.activemq.activemq-osgi" version="0.0.0"/>
			<unit id="com.google.guava" version="0.0.0"/>
			<unit id="com.google.gson" version="0.0.0"/>
			<unit id="com.googlecode.efficient-java-matrix-library.core" version="0.0.0"/>
			<unit id="javassist" version="0.0.0"/>
			<unit id="javax.vecmath" version="0.0.0"/>
			<unit id="com.github.tschoonj.xraylib" version="0.0.0"/>
			<unit id="org.ddogleg" version="0.0.0"/>
			<unit id="slf4j.api" version="0.0.0"/>
			<unit id="jcl.over.slf4j" version="0.0.0"/>
			<unit id="jul.to.slf4j" version="0.0.0"/>
			<unit id="log4j.over.slf4j" version="0.0.0"/>
			<unit id="ch.qos.logback.core" version="0.0.0"/>
			<unit id="ch.qos.logback.classic" version="0.0.0"/>
			<unit id="org.apache.commons.configuration" version="0.0.0"/>
			<unit id="org.apache.sshd.core" version="0.0.0"/>
			<unit id="org.mariadb.jdbc" version="0.0.0"/>
			<unit id="com.springsource.net.sf.cglib" version="0.0.0"/>
			<unit id="org.jline" version="0.0.0"/>
			<unit id="com.h2database" version="0.0.0"/>
			<unit id="com.springsource.org.castor" version="0.0.0"/>
			<unit id="com.springsource.javax.media.jai.codec" version="0.0.0"/>
			<unit id="com.springsource.javax.media.jai.core" version="0.0.0"/>
			<unit id="com.sun.mail.javax.mail" version="0.0.0"/>
			<unit id="javax.management.j2ee-api" version="0.0.0"/>
			<unit id="javax.vecmath" version="0.0.0"/>
			<unit id="org.yaml.snakeyaml" version="0.0.0"/>
			<unit id="pl.pragmatists.JUnitParams" version="0.0.0"/>
			<unit id="org.epics.jca" version="0.0.0"/>
			<unit id="org.epics.pvaccess" version="0.0.0"/>
			<unit id="org.epics.pvdata" version="0.0.0"/>
			<unit id="org.epics.pvdatabase" version="0.0.0"/>
			<unit id="org.epics.pvaclient" version="0.0.0"/>
			<unit id="org.georegression" version="0.0.0"/>
			<unit id="org.uncommons.maths" version="0.0.0"/>
			<unit id="si.uom.si-quantity" version="0.0.0"/>
			<unit id="si.uom.si-units" version="0.0.0"/>
			<unit id="uk.ac.diamond.com.jidesoft.common" version="0.0.0"/>
			<unit id="uk.ac.diamond.com.jidesoft.docking" version="0.0.0"/>
			<unit id="uk.ac.diamond.com.jidesoft.docking" version="0.0.0"/>
			<unit id="uk.ac.diamond.com.mindprod.ledatastream" version="0.0.0"/>
			<unit id="uk.ac.diamond.de.jaret.timebars" version="0.0.0"/>
			<unit id="uk.ac.diamond.de.jaret.util" version="0.0.0"/>
			<unit id="uk.ac.diamond.gnu.regexp" version="0.0.0"/>
			<unit id="uk.ac.diamond.ispyb.api" version="0.0.0"/>
			<unit id="uk.ac.diamond.jama" version="0.0.0"/>
			<unit id="uk.ac.diamond.org.apache.ws.commons.util" version="0.0.0"/>
			<unit id="uk.ac.diamond.org.apache.xmlrpc.client" version="0.0.0"/>
			<unit id="uk.ac.diamond.org.apache.xmlrpc.common" version="0.0.0"/>
			<unit id="uk.ac.diamond.org.apache.xmlrpc.server" version="0.0.0"/>
			<unit id="uk.ac.diamond.org.nfunk.jep" version="0.0.0"/>
			<unit id="uk.ac.diamond.rxtx" version="0.0.0"/>
			<unit id="org.mockito.mockito-core" version="1.10.19"/>
			<unit id="javax.management.j2ee-api" version="0.0.0"/>
			<unit id="org.osgi.service.blueprint" version="0.0.0"/>
			
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<!--				<repository location="https:/download.eclipse.org/tools/orbit/downloads/drops/R20190827152740/repository"/> -->
		<repository location="file:/dls_sw/dasc/static_pages/sites/download.eclipse.org/tools/orbit/downloads/drops/R20180330011457/repository/"/>
			<unit id="org.apache.commons.lang" version="0.0.0"/>
			<unit id="org.apache.commons.collections" version="0.0.0"/>
			<unit id="org.apache.derby" version="0.0.0"/>
			<unit id="org.apache.poi" version="0.0.0"/>
			<unit id="org.apache.poi.ooxml" version="0.0.0"/>
			<unit id="org.apache.poi.ooxml.schemas" version="0.0.0"/>
			<unit id="org.apache.batik.css" version="0.0.0"/>
			<unit id="org.apache.batik.svggen" version="0.0.0"/>
			<unit id="org.apache.xerces" version="0.0.0"/>
			<unit id="org.apache.batik.dom.svg" version="0.0.0"/>
			<unit id="com.fasterxml.jackson.core.jackson-annotations" version="0.0.0"/>
			<unit id="com.fasterxml.jackson.core.jackson-core" version="0.0.0"/>
			<unit id="com.fasterxml.jackson.core.jackson-core" version="0.0.0"/>
			<unit id="com.fasterxml.jackson.core.jackson-databind" version="0.0.0"/>
			<unit id="org.apache.commons.lang3" version="0.0.0"/>
			<unit id="com.thoughtworks.xstream" version="0.0.0"/>
			<unit id="org.aopalliance" version="0.0.0"/>
			<unit id="osgi.enterprise" version="0.0.0"/>
			<unit id="org.mockito" version="1.9.5.v201605172210"/>
			<unit id="javax.management" version="1.2.0.v20100427-1100"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="file:/dls_sw/dasc/static_pages/sites/download.eclipse.org/releases/2019_03"/>
<!--			<repository location="http://download.eclipse.org/releases/2019-06"/>-->
			<unit id="org.eclipse.e4.rcp.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
			<unit id="org.eclipse.platform.ide" version="0.0.0"/>
			<unit id="org.eclipse.equinox.launcher" version="0.0.0"/>
			<unit id="org.eclipse.equinox.core.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.ds" version="0.0.0"/>
			<unit id="org.eclipse.emf.common.ui" version="0.0.0"/>
			<unit id="org.eclipse.emf.edit.ui" version="0.0.0"/>
			<unit id="org.eclipse.emf.databinding.edit" version="0.0.0"/>
			<unit id="org.eclipse.emf.databinding" version="0.0.0"/>
			<unit id="org.eclipse.emf.workspace" version="0.0.0"/>
			<unit id="org.eclipse.emf.transaction" version="0.0.0"/>
			<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.7.0.201806111355"/>
			<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="2.7.0.201806111355"/>
			<unit id="org.eclipse.swtbot.feature.group" version="2.7.0.201806111355"/>
			<unit id="org.eclipse.swtbot.forms.feature.group" version="2.7.0.201806111355"/>
			<unit id="org.eclipse.swtbot.generator.feature.feature.group" version="2.7.0.201806111355"/>
			<unit id="org.eclipse.swtbot.ide.feature.group" version="2.7.0.201806111355"/>
			<unit id="org.eclipse.equinox.server.jetty.feature.group" version="1.8.0.v20190305-2225"/>
			<unit id="org.eclipse.jetty.http" version="0.0.0"/>
			<unit id="org.eclipse.wst.sse.ui" version="0.0.0"/>
			<unit id="org.eclipse.wst.xml.core" version="0.0.0"/>
			<unit id="org.eclipse.wst.xml.ui" version="0.0.0"/>
			<unit id="org.eclipse.osgi" version="0.0.0"/>
			<unit id="org.apache.ws.commons.util" version="0.0.0"/>
			<unit id="org.apache.xmlrpc" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="file:/dls_sw/dasc/static_pages/sites/download.eclipse.org/nattable/releases/1.5.0/repository"/>
			<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="0.0.0"/>
		</location>
		
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="file:/dls_sw/dasc/static_pages/sites/download.eclipse.org/nebula/incubation/snapshot-20180428_1520"/>
			<unit id="org.eclipse.nebula.widgets.formattedtext.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.nebula.widgets.datechooser.feature.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="file:/dls_sw/dasc/static_pages/sites/download.eclipse.org/nebula/releases/2.0.1"/>
			<unit id="org.eclipse.nebula.cwt.feature.feature.group" version="1.1.0.201804281520"/>
			<unit id="org.eclipse.nebula.effects.stw.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.examples.feature.feature.group" version="1.0.4.201804281520"/>
			<unit id="org.eclipse.nebula.examples.release.feature.feature.group" version="1.1.0.201804281520"/>
			<unit id="org.eclipse.nebula.feature.feature.group" version="1.4.0.201804281520"/>
			<unit id="org.eclipse.nebula.visualization.feature.feature.group" version="2.1.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.cdatetime.feature.feature.group" version="1.3.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.compositetable.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.gallery.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.ganttchart.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.geomap.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.grid.feature.feature.group" version="1.1.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.nebulaslider.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.breadcrumb.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.calculator.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.checkboxgroup.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.columnbrowser.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.commons.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.dialog.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.duallist.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.header.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.heapmanager.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.horizontalspinner.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.launcher.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.logindialog.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.multichoice.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.notifier.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.panels.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.preferencewindow.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.promptsupport.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.propertytable.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.rangeslider.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.roundedtoolbar.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.starrating.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.switchbutton.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.textassist.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.tipoftheday.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.opal.titledseparator.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.oscilloscope.feature.feature.group" version="1.4.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.paperclips.feature.feature.group" version="2.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.pgroup.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.progresscircle.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.pshelf.css.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.pshelf.feature.feature.group" version="1.0.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.richtext.feature.feature.group" version="1.2.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.tablecombo" version="1.2.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.tablecombo.feature.feature.group" version="1.2.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.xviewer.feature.feature.group" version="1.1.0.201804281520"/>
		</location>
		
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="file:/dls_sw/dasc/static_pages/sites/download.eclipse.org/jetty/updates/jetty-bundles-9.x/9.4.14.v20181113/"/>
			<unit id="org.eclipse.jetty.websocket.client" version="0.0.0"/>
			<unit id="org.eclipse.jetty.websocket.api" version="0.0.0"/>
			<unit id="org.eclipse.jetty.websocket.common" version="0.0.0"/>
			<unit id="org.eclipse.jetty.websocket.server" version="0.0.0"/>
			<unit id="org.eclipse.jetty.websocket.servlet" version="0.0.0"/>
		</location>		
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="file:/dls_sw/dasc/static_pages/sites/download.eclipse.org/january/releases/2.2.2/repository/"/>
			<unit id="org.eclipse.january" version="2.2.2.v201905021712"/>
			<unit id="org.eclipse.january.asserts" version="2.2.2.v201812151031"/>
			<unit id="org.eclipse.january.asserts.source" version="2.2.2.v201812151031"/>
			<unit id="org.eclipse.january.source" version="2.2.2.v201905021712"/>
			<unit id="org.eclipse.january.test" version="2.2.2.v201905021610"/>
			<unit id="org.eclipse.january.test.source" version="2.2.2.v201905021610"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="file:/dls_sw/dasc/static_pages/sites/dl.bintray.com/fabioz/pydev/7.0.3/"/>
			<unit id="org.python.pydev.feature.feature.group" version="7.0.3.201811082356"/>
			<unit id="org.python.pydev.feature.source.feature.group" version="7.0.3.201811082356"/>
		</location>
	</locations>
</target>
